.navbar {
	background-color: transparent;
	z-index: 999;
	position: fixed;
	width: 100%;
	transform: translate(0%, -100%) matrix(1,0,0,1,0,0);
	transition: all .7s;
}

.navbar.show {
	transform: translate(0%, 0%) matrix(1,0,0,1,0,0);
}

.navbar-nav {
	> li {
		> a {
			line-height: 46px;
		}
	}
}

.nav {
	> li {
		> a {
			padding: 10px 30px;
		}
	}
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
	color: darken(@brand-color, 10%);
}